body, html { 
  margin: 0; height: 100%;
}

#toast-container {
  position: absolute; 
  top: 20px; 
  right: 20px;
}
.toast {
  min-width: 250px;
}
.toast-icon {
  width: 20px; 
  height: 20px;
}

#container { 
  height: 100%;
  width: 100%;
  display: flex;
}
#sider-menu { 
  width: 350px; 
  height: 100%;
  background: #202020;
  padding: 20px;
}
#sider-menu .menu-panel {
  margin-bottom: 20px;
}
#sider-menu .title {
  color: white;
  font-weight: bold;
}
#sider-menu .divider {
  height: 1px;
  background: white;
  width: 100%;
  margin: 10px 0;
}
#canvas-container { 
  overflow: hidden;
}
#canvas-container, #canvas { 
  height: 100%;
}
#sider-menu .render-info-line {
  margin-left: 10px;
  margin-right: 10px;
}
#sider-menu .render-info-line p {
  display: inline-block;
  color: white;
}
/* #sider-menu .render-info-line .render-info-key {
} */
#sider-menu .render-info-line .render-info-value {
  float: right;
}
